@import "tailwindcss";
@plugin "daisyui" {
	themes: emerald, dim --default --prefersdark;
}

@layer utilities {
	.min-h-inherit {
		min-height: inherit;
	}
}

html, body {
	width: 100%;
	height: 100%;
}

.body-stop-scroll {
	height: 100%;
	overflow: hidden;
}

.body-stop-scroll-bar-adjustment {
	position: absolute;
	left: 0;
	width: calc(100% - 0.5rem);
}