@import 'tailwindcss';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

/* https://daisyui.com/docs/themes/ */
@plugin "daisyui" {
	themes:
		emerald --default,
		dim --prefersdark;
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;
}

/* TODO: Fix this */
/* html:not([data-theme="dark"]) {
	background-image: radial-gradient(
		circle at 50% -30rem,
		hsl(from var(--color-base-100) h calc(s * 5) calc(l -22)) 5rem,
		hsl(from var(--color-base-300) h calc(s * 5) calc(l -22)) 95rem
	);
} */

html .dark {
	background-image: radial-gradient(
		circle at 50% -30rem,
		hsl(from var(--color-base-100) h calc(s * 1.8) calc(l + 22)) 5rem,
		hsl(from var(--color-base-300) h calc(s * 1.6) l) 95rem
	);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
	font-family: 'Ubuntu', sans-serif;
}
